.header{
    width: 100%;
    height: 60px;
    background-color: gray;
    margin-bottom: 20px;
    box-shadow: 0 0 2px black;
}
.header-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu_link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.active {
    // color: black;
    text-decoration: underline;
}